body {
    font-family: 'Inter', sans-serif;
    cursor: crosshair; /* Rappel du côté technique Data */
}

/* On cache les éléments avant l'animation GSAP */
.hero-title, .hero-sub, .reveal-text {
    opacity: 0;
}

.data-circle {
    transition: transform 0.1s ease-out;
}

section {
    position: relative;
}

/* Effet de grain pour le côté "Nasa Prospect" */
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-image: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.05;
    pointer-events: none;
    z-index: 100;
}

.nav-link {
    position: relative;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #3b82f6; /* Blue-500 */
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* On change le curseur pour les liens */
a, button {
    cursor: pointer;
}
